<p>
  <strong>Hello.</strong> Welcome to the node.js development appliance by
  <a href="http://smithee.us/">Smithee, Spelvin, Agnew &amp; Plinge</a>. This web application is
  being run from a virtual machine with a pre-configured node.js installation. It gives you a consistent
  development environment to quickly develop your own node.js applications.
  For more information about configuring this appliance, look at the <a href="#/help">Online Help</a>. To
  find out about the team that built this appliance and open source packages we used to do it, refer to
  the <a href="#/about">About</a> section.
</p>
